[submodule "common/thirdparty/cxxopts"]
	path = common/thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = master
[submodule "common/thirdparty/json"]
	path = common/thirdparty/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "common/thirdparty/vcd-writer"]
	path = common/thirdparty/vcd-writer
	url = https://github.com/favorart/vcd-writer.git
	branch = master
[submodule "common/thirdparty/concurrentqueue"]
	path = common/thirdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
	branch = master
[submodule "common/thirdparty/dma_ip_drivers"]
	path = common/thirdparty/dma_ip_drivers
	url = https://github.com/Xilinx/dma_ip_drivers
	branch = master
[submodule "common/thirdparty/surelog"]
	path = common/thirdparty/surelog
	url = https://github.com/chipsalliance/Surelog.git
	branch = master
[submodule "common/thirdparty/slang"]
	path = common/thirdparty/slang
	url = git@github.com:MikePopoloski/slang.git
[submodule "common/thirdparty/spdlog"]
	path = common/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
